body {
  background-color: #577bc1;
}

hr {
  margin-top: 50px;
  margin-bottom: 50px;
  border-width: 15px;
  border-style: none;
  border-top-style: dotted;
  width: 30%;
  border-color: azure;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

ol,
ul,
p {
  display: block;
  max-width: 500px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #97bfb4;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar ul:last-child {
  float: right;
}

#navbar ul li :hover {
  background-color: black;
}
